<footer class="site-footer">
    <div class="container px-16 pt-8 pb-28">
        {% block footer_content %}
        <div class="row">
            <div class="col-md-8 footer-links font-body">
                {% block footer_nav %}
                <ul class="list-unstyled">
                    {% block footer_links %}
                    <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About
                            {0}').format(g.site_title) }}</a></li>
                    <li><a href="/pages/cookie-and-privacy-policy">Cookie and Privacy Policy</a></li>
                    {% endblock %}
                </ul>
                <ul class="list-unstyled">
                    {% block footer_links_ckan %}
                    {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
                    <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
                    <li><a href="http://www.ckan.org/">{{ _('CKAN Association') }}</a></li>
                    <li><a href="http://www.opendefinition.org/okd/"><img
                                src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a></li>
                    {% endblock %}
                </ul>
                {% endblock %}
            </div>
            <div class="col-md-4 attribution">
                {% block footer_attribution %}
                <p class="font-body">{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo"
                        href="http://ckan.org">CKAN</a>{% endtrans %}</p>
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>

    <div data-module="cookie_banner" class="fixed bottom-0 z-40 hidden w-full py-3 bg-subak-deep-ocean">
        <div class="container flex items-center px-24 mx-auto">
            <p class="my-2 font-body">We use cookies to ensure that we give you the best experience on our website. By using this website you agree to our cookie and privacy policy. <a class="underline hover:text-slate-400" href="/pages/cookie-and-privacy-policy">Read More</a></p>
            <button id="accept-cookie-policy" class="px-5 py-3 ml-3 font-mono uppercase bg-subak-marine-blue">Accept</button>
        </div>
    </div>

    {% block footer_debug %}
    {% if g.debug %}
    {% include 'snippets/debug.html' %}
    {% endif %}
    {% endblock %}
</footer>