{% ckan_extends %} 

{% block header_wrapper %} 
  {% block header_account %}
  {{ super() }}
  {% endblock %}
  <nav class="navbar navbar-expand-lg fixed-top masthead">
    <div class="container-fluid">

      <!-- Left hand side -->
      <div class="ml-7 mr-auto">
        {% block header_debug %} 
        {% if g.debug and not g.debug_supress_header %}
        <div class="absolute z-10 -top-7 debug">Controller : {{ c.controller }} | Action : {{ c.action }}</div>
        {% endif %} 
        {% endblock %}

        {% block header_logo %}
        {% if g.site_logo %}
        <a class="z-50 p-0 mt-1 navbar-brand logo"
          href="{{ h.url_for('home.index') }}">
          <img class="float-left" src="/images/SUBAK_LOGO.png" aria-label="Home page" />
        </a>
        {% endif %}
        {% include 'home/snippets/catalogue_badge.html' %}
        {% endblock %}
      </div>

      <!-- Right hand side -->
      <div class="d-flex">
        <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button"
          aria-label="expand or collapse" aria-expanded="false">
          <span class="sr-only">{{ _('Toggle navigation') }}</span>
          <span class="fa fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navigation-toggle">
          {% block header_site_navigation %}
          <nav class="section navigation">
            <ul class="nav nav-pills">
              <li>
                <a href="/pages/add-data"><img class="inline relative -top-px mr-1" src="{{ '/images/add.svg' }}" class="inline">Add Data</a>
              </li>
              {% block header_site_navigation_tabs %}
              {{ h.build_nav_main(
              ('dataset.search', _('Datasets')),
              ('organization.index', _('Organizations')),
              ('home.about', _('About')) ) }}
              {% endblock %}
            </ul>
          </nav>
          {% endblock %} 
          {% block header_site_search %}
          <form class="section site-search simple-input" action="{% url_for 'dataset.search' %}" method="get">
            <div class="field">
              <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock
                %}</label>
              <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="{{ _('Search') }}"
                aria-label="{{ _('Search datasets') }}" />
              <button class="btn-search" type="submit" aria-label="{{ _('Submit') }}"><i
                  class="fa fa-search"></i></button>
            </div>
          </form>
          {% endblock %}
        </div>
      </div>

    </div>
  </nav>
{% endblock %}