include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/subakdc_plugins *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/subakdc_plugins/migration *.ini *.py *.mako
