<div class="bg-white col-12 full-width">
    <div class="container p-16">
        <h2 class="font-mono text-2xl text-subak-burnt-copper">FAQs</h2>
        <h3 class="text-2xl text-subak-deep-ocean">Key resources</h3>
        <ul class="font-body">
            <li>
                <a href="https://forms.gle/VBKVwhoP15GHSJQ58">
                    ❓ Feedback form - please help us take this project forward
                </a>
            </li>
            <li><a href="https://docs.google.com/presentation/d/1240nS7O-xemgZzHF7dtq1yzilPO836zvd35f2aqJGEI/edit?usp=sharing"
                    alt="Slides">
                    📄 Slides</a></li>
            <li><a href="https://miro.com/app/board/uXjVOTyBQfA=/?invite_link_id=327343310502" alt="Roadmap">
                🚧 High Level Roadmap
            </a></li>
            <li><a href="https://drive.google.com/file/d/1iFbGfd5JrXnS33acyRU0VLUrBDIaucIh/view"
                    alt="Presentation Recording">
                    📺 Presentation Recording
                </a>
            </li>
            <li><a
                    href="https://github.com/ClimateSubak/dc-schema/issues/new?assignees=&labels=enhancement&template=request-a-dataset.md&title=%5BDataset+Request%5D">
                    💻 Request a Dataset
                </a></li>

        </ul>
        <h3 class="text-2xl text-subak-deep-ocean">What is the Subak Data Catalogue?</h3>
        <p class="leading-6 font-body">A collection of climate and energy data resources, starting with data created and curated by our <a href="https://climatesubak.org/members" alt="Subak Members">Member Organisations</a>, the datasets they use in their work, and expanding to a wider range of datasets into the future. We believe curating datasets that are well documented and clearly connected can accelerate our ecosystem - our <a href="https://climatesubak.org/the-data-cooperative" alt="Subak Data Cooperative">Data Cooperative</a> community.</p>
        
        <h3 class="text-2xl text-subak-deep-ocean">Who is this for?</h3>
        <p class="leading-6 font-body">Anyone who makes use of climate data. Our first users are the analysts, researchers and engineers at non-profit organisations fighting climate change. We know there are a multitude of different people who use climate data for a huge range of different tasks and we hope to serve a range of different communities.</p>

        <h3 class="text-2xl text-subak-deep-ocean">How can I add my data?</h3>
        <p class="leading-6 font-body">Create an account and let us know at datacooperative@subak.org what data you would like to share. We can then make you an admin for an organisation. You'll be able to create datasets for that organisation. Any submission will need to be moderated before it goes live on the website. Any issues, get in touch.</p>

        <h3 class="text-2xl text-subak-deep-ocean">What is Subak?</h3>
        <p class="leading-6 font-body">The world's first accelerator for non-profits fighting climate change with data. Read more <a href="https://climatesubak.org/about-us" alt="About Subak">here</a></p>
    </div>
</div>