<div class="full-width bg-subak-meadow-teal">
  <div class="container p-16">
    <h2 class="font-mono text-2xl text-white">WELCOME</h2>
    <h3 class="mb-10 font-semibold leading-14 text-white text-5xl font-heading">The Subak Data Catalogue exists to make climate data more discoverable; more trusted; and more connected.</h3>
    <p>
      <a href="https://climatesubak.org/the-data-cooperative" alt="Subak Data Cooperative">
        <button class="p-3 transition duration-150 bg-transparent border-2 border-white group hover:transition-all hover:bg-white ">
          <h2 class="p-0 m-0 font-mono text-xl text-white group-hover:text-subak-meadow-teal">LEARN MORE</h2>
        </button>
      </a>
    </p>
  </div>
</div>